*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
body{
   background-image: url("./images/bg-weather.jpg");
   min-width: 10rem;
   min-height: 1rem;
   
}

.head{
    text-align: center;
    margin: 100px auto 2px ;
    font-size: 50px;
    font-weight: 900;
    color: rgb(66, 48, 48);
    
}

.card{
    width: 90%;
    max-width: 19rem;
    background-color: rgb(243, 89, 51);
    color: white;
    border-radius: 20px;
    margin: 0 auto 2rem;
    padding: 2rem 1rem;
    
    box-sizing: content-box;
}
.search{
    max-width: 15rem;
    display: flex;
    justify-content: space-between;
    

}

.search input{
    border: 0;
    outline: 0;
    background-color: rgb(202, 185, 185);
    color: rgb(54, 53, 53);
    padding: 1rem 3rem;
    height: 3.2rem;
    min-width: 10.9em;
    border-radius: 1rem;
    flex: 1;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.search button{
    border: 0;
    outline: 0;
    background-color: rgb(202, 185, 185);
    border-radius: 50%;
    padding: 0.1rem 0.2rem;
    min-width: 3rem;
    height: 3.2rem;
    cursor: pointer;
   
    
}

.search button img{
   max-width:1.8rem;
    
}

.weather-icon{
   max-width: 6rem;
    margin: 2rem 0 0 6rem;
  
}

.weather h1{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 7rem;
}
.weather h2{
    font-size: 2rem;
    font-weight: 400;
    margin-top: -10px;
    margin-left: 5.5rem;
}
 
.details{
    display: flex;
    align-items: center;
    
    padding: 2 0rem;
    margin-top: 3rem;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 1.4rem;
}

.col img{
    max-width: 3rem;
    margin-right: 0.2rem;
}

.humidity{
    font-size: 2rem;
    margin-top: 0rem;
}
 .wind{
    font-size: 1.5rem;
    margin-top: 0rem;
}

.weather{
    display: none;
}

.invalid{
    display: none;
}

.invalid{
    font-size: 2rem;
    margin-left: 3.3rem;
    margin-top: 0.5rem ;
}